@model List<TaquillaITH.Models.Movie>
@{
    ViewData["Title"] = "Venta de boletos";
    DateTime CurrentDate = (DateTime)ViewData["CurrentDate"];

    var precioNormal = (int)ViewData["precioNormal"] == 0 ? 50 : ViewData["precioNormal"];
    var precio3D = (int)ViewData["precio3D"] == 0 ? 50 : ViewData["precio3D"];
    var precioVIP = (int)ViewData["precioVIP"] == 0 ? 50 : ViewData["precioVIP"];
}
<div id="Step1">
    <div class="text-center container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">Catálogo de Películas</h1>
            </div>
        </div>
        <div class="row mt-2 justify-content-md-center">
            <div class="col-6">
                <p>Al dia de:</p>
            </div>
        </div>
        <div class="row mt-2 justify-content-md-center">
            <div class="col-6">
                <input id="datePicker" type="date" class="form-control" placeholder="Fecha" aria-label="Fecha" aria-describedby="addon-wrapping">
            </div>
        </div>
        <div class="row">
            <hr />
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    <div class="col-5 mt-2 mb-2 ml-2 mr-2" style="border: solid black 2px;">
                        <h1> @item.Name </h1>
                        <img src="@item.photoUrl" width="350" height="600" />
                        <br />
                        @foreach (var schedule in item.horarios)
                        {
                            var horario = schedule;
                            <button type="button" value="@schedule" class="btn btn-primary mt-2 ml-2" onclick="ToggleSelect(@item.duracion, '@horario', '@item.pelicula','@item.sala')"
                                    data-toggle="button" aria-pressed="false" autocomplete="off" id="MovieId-@item.duracion">
                                @schedule
                            </button>
                        }
                        <br />
                        <div id="@item.duracion" class="mt-2 SelectTicket" style="display:none;">
                            <select id="mySelect-@item.duracion">
                                <option selected disabled>Seleccione un tipo de boleto</option>
                                <option value="@precioNormal"> Boleto Normal</option>
                                <option value="@precio3D"> Boleto 3D</option>
                                <option value="@precioVIP"> Boleto VIP</option>
                            </select>

                            <div class="form-group">
                                <label class="control-label">Cantidad</label>
                                <input class="form-control" type="number" max="10" min="1" id="ticketAmount-@item.duracion" />
                            </div>

                            <label>Sala: @item.sala</label>
                            <br />
                            <label>Duración: @item.duracion</label>
                            <br />

                            <button class="btn btn-outline-success" id="btnSelectButton" onclick="SelectShowTime(@item.duracion,@item.sala)"> Seleccionar función</button>
                        </div>
                    </div>
                    <hr />
                }
            }
        </div>
    </div>
</div>

<div id="Step2" style="display:none;">
    <partial name="_Step2">
</div>

<div id="Step3" style="display:none;">
    <partial name="_Step3">
</div>

<div id="Step4" style="display:none;">
    <partial name="_Step4">
</div>

<script>
    var alaea = new Date(Date.parse('@CurrentDate'));
    var selectedTicketType = "";
    var selectedMovieId =  0;
    var TheatreRoom =  0;
    var ticketAmount = 0;
    var Judir = "";

    var showDate = "";
    var selectedSchedule = "";

    var conconatenadoFecha = "";
    var selectedTicket = "";

    var selectedMovie = "";

    var products = [];

    function ToggleSelect(id, schedule, pelicula)
    {
        $('#' + id).toggle();
        selectedMovieId = id;
        selectedSchedule = schedule;
        selectedMovie = pelicula;
    }

    $(document).ready(function () {
        var day = alaea.getDate();
        var month = alaea.getMonth() + 1;
        var year = alaea.getFullYear();
        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;
        var today = year + "-" + month + "-" + day;
        Judir = today;

        if (!alaea)
        {
            $("#datePicker").val(alaea);
        }
        else
        {
            $("#datePicker").val(today);
        }
    });

    $("#datePicker").change(function () {
        var date = new Date($("input").val());
        var day = date.getDate() + 1;
        (day.toString()).length == 1 ? daySpace="0" : day;
        var month = date.getMonth() +1;
        var year = date.getFullYear();
        var time = year + "-" + month + "-" + day + " " + "13:09:00";
        var TotalAmount = 0;

        if (!alaea)
        {
            $("#datePicker").val(alaea);
        }
        else
        {
            $("#datePicker").val(time);
        }

        $.ajax({
            url: "/TicketSale/Step1",
            type: 'GET',
            data: { 'date': time },
            success: function (data) {
                window.location.href = "/TicketSale/Step1?date=" + time;
            }, error: function (data) {
                window.location.href = "/TicketSale/Step1?date="+time;
            }
        });
    });

    var seatsList = [];
     function SelectShowTime(id, Num_sala)
        {
        debugger;
        TheatreRoom = Num_sala;
        ticketAmount = $("#ticketAmount-"+id).val();
        selectedTicket = $("#mySelect-" + id + " :selected").val();

        var date = $("#datePicker").val() + " " + selectedSchedule;
        $.ajax({
            type: "GET",
            url: "/api/Booth/GetShowSeats",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data:
            {
                "idSala": TheatreRoom,
                "Horario": date
            },
            success: function (data) {
                console.log(data);

                data.forEach(function (element) {
                    var tr = document.createElement("div");

                    element.forEach(function (dato)
                    {
                        var btn = document.createElement("button");
                        btn.className = "btn btn-outline-dark m-2";
                        btn.onclick = (function ()
                        {
                            if (!seatsList.includes(this.innerHTML) && seatsList.length < ticketAmount)
                            {
                                seatsList.push(dato.name);
                                    $(this).css("background", "pink");
                                console.log(seatsList);

                                
                            }
                            else if (seatsList.includes(this.innerHTML)) {
                                seatsList.splice(seatsList.indexOf(dato.name), 1);
                                $(this).css("background", "white");
                                console.log(seatsList);
                            }

                            if (seatsList.length == ticketAmount) {
                                $("#To3rdStep").show();
                            } else {
                                $("#To3rdStep").hide();
                            }
                        });

                        if (dato.occupied)
                        {
                            btn.innerHTML = "X"
                            btn.setAttribute("disabled", "true");
                        }
                        else
                            btn.innerHTML = dato.name

                        tr.append(btn);
                    })

                    $("#ShowSeats").append(tr);
                })

                $("#Step1").toggle();
                $("#Step2").toggle();
                TotalAmount = ticketAmount * parseInt(selectedTicket);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }

    $("#To3rdStep").click(function () {
         $("#Step2").toggle();
         $("#Step3").toggle();
    });

    $("#To4rthStep").click(function () {
        points();
    });

     $("#FINISHED").click(function () {
         ItsOver();
    });

    function member() {
        
        var id = $("#membershipNumber").val();
        $.ajax({
        url: "/api/Booth/GetMembership",
        type: 'GET',
        data: {'id':id},
            success: function (data) {
                $("#membership").hide();
                $("#points").show();
                $("#membershipId").text(data.id_Membresia);
                $("#membershipOwner").text(data.nombre);
                $("#membershipPoints").text(data.puntos);
                $("#membershipPercent").text(data.porcentaje);
                console.log("Success");
            }
        });
    }

    function points() {
        var id = $("#membershipId").text();
        var puntosGenerados = (parseInt($("#membershipPercent").text()) / 100) * TotalAmount;
        $.ajax({
            url: "/api/Booth/PostMembershipPoints?id_Membresia=" + id + "&puntos="+ puntosGenerados,
            type: 'POST',
            success: function (data) {
                $("#points").hide();
                $("#Step3").toggle();
                $("#Step4").toggle();
            }, error: function (data) {
                console.log(data);
            }
        });
    }

    function ItsOver() {
        var cardNumber = $("#cardNumber").val();
        var mes = $("#mes").val();
        var ano = $("#ano").val();
        var cvv = $("#cvv").val();

        for (var item in seatsList) {
            var wea = {
                "idBoleto": 107,
                "sala": TheatreRoom,
                "hora": selectedSchedule,
                "pelicula": selectedMovie,
                "name": seatsList[item],
                "tipo": "boletoNormal",
                "precio": parseInt(selectedTicket)
            }

            products.push(wea);
        }

        var venta = {
            "helper": true,
            "sala": TheatreRoom,
            "schedule": Judir + " " + selectedSchedule,
            "UsedSeats": seatsList,
            "mes": mes,
            "ano": ano,
            "cvv": cvv,
            "tarjeta_origen": cardNumber,
            "total": TotalAmount,
            "productos": products
            
        };

        $.ajax({
            url: "/api/Booth/PostTicketSale",
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify(venta),
            success: function (data) {
                alert("En Hora buena, has concluido desarrollo de sistemas complejos de software!");
            }, error: function (data) {
                console.log(data);
            }
        });
    }

</script>
